@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    overflow: hidden;
}
body, html, .body {
    width: 100%;
    height: 100%;
    font-family: 'Comforter Brush', cursive;
}
input[type="text"], button {
    font-family: 'Dancing Script', cursive;
    background: none;
    border: 1px solid white;
    font-size: 2rem;
    transition: 0.3s;
}
button:hover {
    border: 1.5px solid rgb(255, 219, 224);
}
input[type="text"]:hover, input[type="text"]:active {
    border-bottom: 1px solid black;
}
input[type="text"]::placeholder {
    color: black;

}
.body {
    background-image: url(la-girl.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100vh;
    background-attachment: fixed;
}
.centre {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    background-image: url("background-image.jpg");
    height: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 10rem;
    /* color: white; */
}
sub {
    font-size: 2rem;
    font-weight: bold;
}
.playbutton {
    display: inline;
    margin: -35px;
}
.playbutton:hover {
    cursor: pointer;
}

#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}
  
#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  
audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}